In [1]:
# importing pandas and numpy

import pandas as pd
import numpy as np

In [3]:
# Creating a dictionary to store product information

my_dict = [{'product_id':23, 'name':'computer', 'wholesale_price': 500, 'retail_price':1000, 'sales':100}, 
    {'product_id':96, 'name':'Python Workout', 'wholesale_price': 35,'retail_price':75, 'sales':1000},
    {'product_id':97, 'name':'Pandas Workout', 'wholesale_price': 35, 'retail_price':75, 'sales':500},
    {'product_id':15, 'name':'banana', 'wholesale_price': 0.5,'retail_price':1, 'sales':200},
    {'product_id':87, 'name':'sandwich', 'wholesale_price': 3,'retail_price':5, 'sales':300}]

In [4]:
# Creating a DataFrame from the list of dictionaries

df = pd.DataFrame(my_dict)
df

   product_id            name  wholesale_price  retail_price  sales
0          23        computer            500.0          1000    100
1          96  Python Workout             35.0            75   1000
2          97  Pandas Workout             35.0            75    500
3          15          banana              0.5             1    200
4          87        sandwich              3.0             5    300

In [6]:
# Calculating the total profit for each product

df['net_revenue_per_product'] = (df['retail_price'] - df['wholesale_price']) * df['sales']
df

,product_id,name,wholesale_price,retail_price,sales,net_revenue_per_product
0,23,computer,500.0,1000,100,50000.0
1,96,Python Workout,35.0,75,1000,40000.0
2,97,Pandas Workout,35.0,75,500,20000.0
3,15,banana,0.5,1,200,100.0
4,87,sandwich,3.0,5,300,600.0

In [8]:
# Total net revenue received from all of the sales

Total_net_revenue = df['net_revenue_per_product'].sum()
print(f'The total net revenue is ${Total_net_revenue}' )

The total net revenue is $110700.0

In [9]:
# Products whose retail price is more than twice the wholesale price

df.loc[df['retail_price'] > (2 * df['wholesale_price'])]

,product_id,name,wholesale_price,retail_price,sales,net_revenue_per_product
1,96,Python Workout,35.0,75,1000,40000.0
2,97,Pandas Workout,35.0,75,500,20000.0

In [12]:
# Amount made from food vs. computers vs. books

# Amount made from food

df_food = df.loc[3:4]
df_food

,product_id,name,wholesale_price,retail_price,sales,net_revenue_per_product
3,15,banana,0.5,1,200,100.0
4,87,sandwich,3.0,5,300,600.0

In [20]:
food_revenue = df_food['net_revenue_per_product'].sum()
print(f'The total food revenue is ${food_revenue}' )

The total food revenue is $700.0

In [15]:
# Amount made from computer

df_computer = df.loc[df['name'] == 'computer']
df_computer

,product_id,name,wholesale_price,retail_price,sales,net_revenue_per_product
0,23,computer,500.0,1000,100,50000.0

In [21]:
computer_revenue = df_computer['net_revenue_per_product'].sum()
print(f'The total computer revenue is ${computer_revenue}' )

The total computer revenue is $50000.0

In [17]:
# Amount made from books

df_books = df.loc[1:2]
df_books

,product_id,name,wholesale_price,retail_price,sales,net_revenue_per_product
1,96,Python Workout,35.0,75,1000,40000.0
2,97,Pandas Workout,35.0,75,500,20000.0

In [22]:
book_revenue = df_books['net_revenue_per_product'].sum()
print(f'The total books revenue is ${book_revenue}' )

The total books revenue is $60000.0

In [24]:
# Calculating the new whole price after a 30% discount on the initial wholesale price of goods

df['new_wholesale_price'] = 0.70 * df['wholesale_price']
df

,product_id,name,wholesale_price,retail_price,sales,net_revenue_per_product,new_wholesale_price
0,23,computer,500.0,1000,100,50000.0,350.00
1,96,Python Workout,35.0,75,1000,40000.0,24.50
2,97,Pandas Workout,35.0,75,500,20000.0,24.50
3,15,banana,0.5,1,200,100.0,0.35
4,87,sandwich,3.0,5,300,600.0,2.10

In [25]:
# Calculating the new net revenue per product after a 30% discount on the initial wholesale price of goods

df['new_net_revenue_per_product'] = (df['retail_price'] - df['new_wholesale_price']) * df['sales']
df

,product_id,name,wholesale_price,retail_price,sales,net_revenue_per_product,new_wholesale_price,new_net_revenue_per_product
0,23,computer,500.0,1000,100,50000.0,350.00,65000.0
1,96,Python Workout,35.0,75,1000,40000.0,24.50,50500.0
2,97,Pandas Workout,35.0,75,500,20000.0,24.50,25250.0
3,15,banana,0.5,1,200,100.0,0.35,130.0
4,87,sandwich,3.0,5,300,600.0,2.10,870.0